header {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/home.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.nav-link{
	text-transform: uppercase;
}

.banner-text p{
	color: silver;
}
/* animation*/
.text-area{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;

}

.text-area span{
	color: blue;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: animate 5s forwards;

}

.text-area span{
	display: inline-block;
}

.text-area span:nth-of-type(2){
	animation-delay: .1s;
}

.text-area span:nth-of-type(3){
	animation-delay: .2s;
}

.text-area span:nth-of-type(4){
	animation-delay: .3s;
}

.text-area span:nth-of-type(5){
	animation-delay: .4s;
}

 .nav-link:hover{
	background-color:  blue;
}

/*about area*/
section {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/aboutpage.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.about-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/*
.nav-link{
	text-transform: uppercase;
}*/

.about-text p{
	color: silver;
	font-size: .65rem;
}
/* animation*/
.about-area{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;

}

.about-area span{
	color: blue;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: animate 5s forwards;

}

.about-area span{
	display: inline-block;
}

.about-area span:nth-of-type(2){
	animation-delay: .1s;
}

.about-area span:nth-of-type(3){
	animation-delay: .2s;
}

.about-area span:nth-of-type(4){
	animation-delay: .3s;
}

.about-area span:nth-of-type(5){
	animation-delay: .4s;
}

.about-area span:nth-of-type(6){
	animation-delay: .5s;
}


/*services area*/

#services {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/skull.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.services-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/*
.nav-link{
	text-transform: uppercase;
}*/

.services-text p{
	color: silver;
	font-size: 1rem;
}
/* animation*/
.services-area{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;

}

.services-area span{
	color: blue;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: animate 5s forwards;

}

.services-area span{
	display: inline-block;
}

.services-area span:nth-of-type(2){
	animation-delay: .1s;
}

.services-area span:nth-of-type(3){
	animation-delay: .2s;
}

.services-area span:nth-of-type(4){
	animation-delay: .3s;
}

.services-area span:nth-of-type(5){
	animation-delay: .4s;
}

.services-area span:nth-of-type(6){
	animation-delay: .5s;
}

/*service end*/


/*contact*/
#contact {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/contact.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.contact-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/*
.nav-link{
	text-transform: uppercase;
}*/

.contact-text p{
	color: silver;
	font-size: 1.1rem;
}

/*contact end*/

@keyframes animate{
	30%{
		transform: translate(0,-50px) rotate(180deg) scale(1);
	}

	60%{
		transform: translate(0, 20px) rotate(0deg) scale(.8);
	}
    100%{
		transform: translate(0) rotate(0deg) scale(1);
		opacity: 1;
	}
}

@media (max-width: 500px){
	.navbar-dark{
		background-color: #333;
	}
}